@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

.all{
	width:1200px;
	height:500px;
	margin:50px auto;
	border:1px solid #000;
}

.all > h2{
	padding:10px;
} 

.photo{
	position:relative;
	text-align:center;
	width:480px;
	height:300px;
	border:1px solid #f00;
	margin:10px;
	float:left;
}

.photo figure{
	position:relative;
	width:480px;
	height:300px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	background:#5389B5;
}

.photo figure img{
	width:100%;
	height:100%;
	display:block;
	opacity:0.8;
}

.photo figure figcaption{
	padding:10px;
	color:#fff;
	font-size:14px;
	text-align:left;
	position:absolute;
	top:0;
	left:0;
	width:460px;
	height:280px;
}

figure figcaption a{
	z-index:100;
	display:block;
	width:75px;
	height:25px;
	text-align:center;
	line-height:23px;
	position:absolute;
	right:50px;
	bottom:15px;
	color:#fff;
	text-decoration:none;
	font-weight:800;
	border:3px solid #4A88BF;
	border-radius:5px;
	background:rgba(0,0,0,0.3);
	transition:opacity 0.35s;
	opacity:0;
}

figure figcaption a:hover{
	background:rgba(0,0,0,0.5);
	color:#3D83BC;
	border-color:#fff;
}

figure figcaption h2{
	font-weight:800;
	margin-top:50px;
	margin-left:50px;
}

figure img{
	transition:opacity 1s, transform 1s;
}

figcaption div p{
	display:block;
	padding:5px;
	margin:6px 0;
	width:250px;
	background:rgba(255,255,255,0.8);
	color:#333;
	transition:opacity 0.35s, transform 0.35s;
	transform:translateX(-360px);
	opacity:0;
}

figcaption div p:nth-child(1){
	transition-delay:0.1s;
}
figcaption div p:nth-child(2){
	transition-delay:0.25s;
}
figcaption div p:nth-child(3){
	transition-delay:0.45s;
}

.all .photo:hover p{
	opacity:1;
	transform:translateX(0px);
}

.all .photo:hover figure img{
	transform:scale(1.2);
	transition:transform 0.35s;
}

.all .photo:hover figcaption a{
	opacity:1;
}














































